<p id="notice"><%= notice %></p>

<p>
  <strong>From uid:</strong>
  <%= @message.from_uid %>
</p>

<p>
  <strong>To uid:</strong>
  <%= @message.to_uid %>
</p>

<p>
  <strong>Body:</strong>
  <%= @message.body %>
</p>

<p>
  <strong>Is read:</strong>
  <%= @message.is_read %>
</p>

<%= link_to 'Edit', edit_message_path(@message) %> |
<%= link_to 'Back', messages_path %>
